.date {
  color: #1c1c1c;
  font-weight: bold;
}

.cache-status-wrapper {
  position: fixed;
  z-index: 990;
  bottom: 10px;
  opacity: 1;
  box-shadow: 2px 2px 8px 2px;
}

.cache-status-wrapper details {
  background: #dedede;
}

.cache-status-label {
  width: 100%;
  padding: 5px;
  color: #fff;
  background-color: #555;
  font-size: 20px;
  font-weight: bold;
}

.cache-designation {
  position: relative;
  display: block;
  margin-left: 20px;
}

/* Common tooltip styles */
.cache_tooltip {
  position: relative;
  z-index: 990;
  display: inline-block;
  float: right;
  width: 20px;
  height: 22px;
  margin: 1px;
  padding: 3px;
  font-size: 20px;
  line-height: 1.1em;
}

.cache_tooltip_text {
  position: absolute;
  z-index: 9999;
  top: 3em;
  right: 2px;
  visibility: hidden;
  overflow: visible;
  overflow-wrap: break-word;
  width: max-content;
  max-width: 1200px;
  height: auto;
  padding: 2px;
  color: #000;
  border-radius: 6px;
  background-color: #dedede;
  box-shadow: 1px -1px 4px;
  font-size: 12px;
  font-weight: normal;
}

.cache_tooltip:hover .cache_tooltip_text {
  visibility: visible;
}
.cache_caught {
  font-weight: bold;
  font-style: italic;
}

/* Cached styles */
.cached-wrapper {
  margin: 5px 2px;
  border: 2px solid #333;
  box-shadow: 1px 1px 2px;
}
.cached-item {
  color: #fff;
  background-color: #000;
}

/* Lazy styles */
.lazy-wrapper {
  margin: 5px 2px;
  border: 2px dotted #444;
  box-shadow: 1px 1px 2px;
}

.lazy-item {
  background-color: #ddd;
}

/* Base styles */
.base-wrapper {
  margin: 5px 2px;
  border: 1px dashed #222;
  box-shadow: 1px 1px 2px;
}

.base-item {
  background-color: #ddd;
}
